@import url("org-spec.css");

#table-of-contents {
        position: fixed;
        top: 0;
        left: 85%;
        padding: 2em 0 2em 2em;
        width: 290px;
        height: 100vh;
        font-size: 12px;
        background: #eee;
        overlow-x: hidden;
        overlow-y: auto;
    }


.title {
    font-size: 2em;
}

    div#content {
        margin-left: 2%;
        max-width: 80%;
    }



@media screen and (max-width: 1024px) {
    html, body {
        font-size: 14px;
    }

    .title {
        font-size: 1.5em;
    }

    div#content {
        margin-left: 0;
        max-width: 100%;
    }

blockquote {
    padding: 0px 10px 0px 10px;
    border: 1px solid #ddd;
    background: #eee;
    box-shadow: 5px 5px 5px #eee;
    border-radius: 2px;
    line-height: 2em;
}


}

