@import url("org-spec.css");

@media screen {
    html, body {
        font-size: 18px;
    }

    #table-of-contents {
        display: none;
    }

    h1.title {
        margin-left: 0%;
    }

    div#content {
        margin-left: 15%;
        max-width: 80%;
    }
}
