@import url("website.css");

.title {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    margin-top: -2em;
    margin-bottom: 1em;
    line-height: 1.2em;
}

.title::before {
    content: '' !important;
}



body {
    margin: auto;
    padding: 0em;
}

b, strong {
    font-weight: 400;
    color: #555;
}


p {
    text-align: left;
}


.post-subtitle {
    text-align: left;
    color: #555;
    font-size: 1.1em;
    margin-bottom: 1em;
}
